@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #fff; /* try #212121 also for dark mode */
  --background-color: #212121;
  --timeline-color: rgb(242, 91, 83);
  --font: sans-serif;
}

/* Fix the bullet points not showing */
:not(ul) {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0 0 0 20px;
}

body {
  font-family: var(--font);
  justify-content: center;
}

h2 {
  font-size: 32px;
  text-align: center;
  clear: both;
  padding: 10px;
}

header {
  background-color: rgb(0,0,0);
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(191,9,9,1) 50%);
}

.title__text {
  font-size: 38px;
  text-align: center;
  padding: 10px;
  color: white;
  font-family: Roboto sans-serif;
  background-color: transparent;
  text-align: left;
}

.title__subtext {
  color: white;
  padding: 10px;
  background-color: transparent;
  text-align: right;
  font-style: italic;
}

.timeline__section {
  background-color: lightblue;
}

.timeline__container {
  margin: 0 auto;
  padding: 0px 20px 0 20px;
  display: flex;
  justify-content: center;
}

/* Outer Layer with the timeline border */
.timeline__outer {
  border-left: 2px solid #333;
}

.timeline__card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  background: #333;
  color: rgb(230, 228, 228);
  border-radius: 8px;
  max-width: 400px;
}

/* Information about the timeline */
.timeline__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.timeline__card-title {
  color: var(--timeline-color);
  position: relative;
}

/* Timeline dot  */
.timeline__card-title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -39px;
  border: 3px solid var(--timeline-color);
}

.hero__container {
  display: flex;
  flex-direction: column;
}

.hero__image-container {
  display: flex;
  flex-direction: column;
  background-image: url("img/David_Graeber.jpg");
  background-size: 200%;
  background-position: cover;
}

.hero__photo-attr {
  font-size: 11px;
  text-align: center;
  background-color: black;
  color: white;
}

.hero__photo-attr a {
  filter: invert(1);
}

/* Fix the timeline border so that it doesn't go all the way down */
/* Probably not the best way to do that ¯\_(ツ)_/¯ */
.timeline__border-fix {
  border-left: 3px solid lightblue;
  margin-left: -2px;
  height: 12px;
  margin-top: -14px;
}

.hero__image {
  height: 66vh;
  object-fit: contain;
  min-height: 480px;
}

.hero__quote-text {
  flex: 1 0 100px;
  font-size: 38px;
  font-style: italic;
  text-align: center;
  padding: 10px 0 0 0;
}
.hero__quote-author {
  font-size: 20px;
  text-align: right;
  text-align: center;
}

.hero__about-text {
  font-size: 20px;
  text-align: justify;
  padding: 10px;
}

.hero__text-container {
  background-color: lightgreen;
}

.works__section {
  background-color: rgb(236, 236, 168);
}

footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(241, 159, 129);
}
.works__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.works__card {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.works__image {
  flex: 0 1 auto;
  width: 200px;
}

.works__intro {
  flex: 1 0 100px;
  margin: 0 0 10px 0;
  padding: 0 0 0 10px;
}

.works__card-title {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.works__info {
  flex: 1 0 100px;
  padding: 10px;
}

.works__info-paragraph {
  margin: 0 0 10px 0;
}

.biblio__section {
  padding: 10px;
  background-color: rgb(233, 180, 244);
}

.biblio_list {
  margin: 0;
  padding-bottom: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.biblio_list-title {
  margin: 10px 0 0 0;
}
@media (min-width: 768px) {
  .hero__container {
    display: block;
    background-color: lightgreen;
    height: max-content;
    gap: 10px;
  }
  .hero__image {
    margin: 0 10px 0 0;
  }
  .hero__image-container {
    float: inline-start;
    display: block;
    background: unset;
  }
  .hero__text-container {
    background-color: unset;
    min-height: 69vh;
  }
  .hero__photo-attr {
    color: black;
    background-color: unset;
  }
  .hero__photo-attr a {
    filter: unset;
  }
  .hero__quote-text {
    padding: 0;
  }
  .works__card {
    flex-direction: row;
    align-items: unset;
  }
  .works_info {
    padding: unset;
  }
}
