body {
  background-color: #e2ac7f;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#wrap {
  max-width: 60%;
  margin: 0 auto;
  border: 7px dotted black;
  background-color: #f5f5dc;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  border-bottom: 7px dotted black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  text-align: center;
  font-weight: 300;
}

p {
  font-size: 12px;
  padding: 0 24px;
}
p:last-of-type {
  text-align: center;
}
p:first-of-type {
  margin: 24px 0 0 0;
}
a {
  text-decoration: none;
}
ul {
  font-style: italic;
  list-style-type: none;
  font-size: 14px;
  text-align: center;
  padding: 0;
}

li::first-letter {
  font-size: 24px;
}
